
// Source - https://stackoverflow.com/a/48970609
// Posted by ecg8
// Retrieved 2026-04-15, License - CC BY-SA 3.0

#maindiv{
  border: 2px solid black;
  overflow: hidden;
  white-space: nowrap;
}

#div1 {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

#div2 {
  display: inline-block;
  animation: marquee2 10s linear infinite;
  animation-delay: 5s;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

/* In your styles.css file */
h1 {
  color: #FFFFFF;
}
p {
  color: #FFFFFF;
}

